.header__bar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1184px;
  padding: 20px 48px 56px;
}

@media screen and (max-width: 1024px) {
  .header__bar {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header__bar {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 600px) {
  .header__bar {
    padding: 16px 16px 48px;
  }
}
